Flask==2.3.2
Flask-SQLAlchemy==3.0.3
psycopg2-binary==2.9.9
Pillow==10.0.1
flask-cors==3.0.10
flask-bcrypt==1.0.1
python-dotenv==1.0.0
flask-session==0.5.0
opencv-python-headless==4.7.0.72
imutils==0.5.4
pytesseract==0.3.10
paddlepaddle==2.6.0
paddleocr==2.7.3
requests==2.31.0
numpy==1.24.3
