body {
  margin: 0;
  font-family: "Oxanium", cursive;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; */
  font-family: "Oxanium", cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Oxanium:wght@600&display=swap');
